<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--
        icon :le logo de l'app n'est plus un robot mais une pizza
        round icon : idem mais pr les tel qui affiche les icone en mode rond
    -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_pizza"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_pizza"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pizzeria"
        tools:targetApi="31">

        <!-- ========================================= -->
        <!-- ACTIVITÉ 1 : Écran de commande des pizzas -->
        <!-- ========================================= -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />


        <!-- ========================================= -->
        <!-- ACTIVITÉ 2 : Choix du numéro de table -->
        <!-- C'EST ELLE QUI DÉMARRE L'APPLICATION -->
        <!-- ========================================= -->
        <activity
            android:name=".ChoixTableActivity"
            android:exported="true">

            <!-- Définit cette activité comme activité principale -->
            <intent-filter>

                <!-- Action principale de l'application -->
                <action android:name="android.intent.action.MAIN" />

                <!-- Catégorie : icône visible sur le téléphone -->
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

    </application>

</manifest>